// WARNING to editors: style.display must be empty 
// in elements with card-X class selectors.

.header {
  font-weight: bold;
}

.content {
  margin: 8px;
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-template-rows: repeat(min-content, 5);
}

// Start grid

.title-bar {
  grid-row: 1;
  grid-column: 1 / 4;

  font-weight: 900;
  font-size: x-large;
  color: darkblue;
  margin-bottom: 4px;
}

.data-entry {
  grid-row: 2;
  grid-column: 1;
  width: 260px;
  // This cell holds is a stack of divs.
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.graphics {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.tip {
  grid-row: 2;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.site-cost {
  grid-row: 3;
  grid-column: 1 / 4;
}

.wizard-controls {
  grid-row: 4;
  grid-column: 1 / 4;
  display: flex;
  justify-content: right;
  margin-top: 4px;
}

.vertical-gap {
  margin-top: 8px;
}

// End grid

.card-number {
  display: inline-block;
  text-align: center;
  background-color: darkblue;
  color: white;
  width: 22px;
}

.control-grouping {
  border-style: ridge;
  border-width: 2px;
  padding: 5px;
}

.deck-cartoon {
  border-style: inset;
  border-width: 2px;
}

.elevation-canvas {
  border-style: inset;
  border-width: 2px;
}

input:disabled {
  background: lightgray;
}

.grouping-topic {
  font-weight: 700;
  color: darkblue;
}

.fill-row {
  flex-grow: 1;
}

.indent {
  padding-left: 24px;
}

.legend {
  border-style: groove;
  border-width: 2px;
  padding: 5px;
  height: 38px;
}

.legend > div {
  display: inline-block;
  margin-right: 8px;
  width: 100px;
}

label:has(:disabled) {
  color: gray;
}

label:has(.jqx-dropdownlist-content-disabled) {
  color: gray;
}

.paragraph {
  margin-bottom: 4px;
}

.scenarioIdText {
  color: gray;
}

ol {
  list-style-position: outside;
  margin-left: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
}

ol li {
  margin-top: 4px;
}