<jqxNotification
  #moveJointError
  [template] = "'error'"
  [position] = "'top-right'"
  >
Oops... Can't move a joint onto another joint.
</jqxNotification>
<jqxNotification
  #tooManyJointsError
  [template] = "'error'"
  [position] = "'top-right'"
  >
Oops... That makes too many joints.
</jqxNotification>
<jqxNotification
  #tooManyMembersError
  [template] = "'error'"
  [position] = "'top-right'"
  >
Oops... That makes too many members.
</jqxNotification>
<div class="wrapper">
  <canvas #draftingPanel class="view" width="{{ width }}" height="{{ height }}">
    <tool-selector #toolSelector></tool-selector>
  </canvas>
  <cursor-overlay
    #cursorLayer
    class="cursor"
    width="{{ width }}"
    height="{{ height }}"
    (addJointRequest)="addJointRequestHandler($event)"
    (addMemberRequest)="addMemberRequestHandler($event)"
    (deleteRequest)="deleteRequestHandler($event)"
    (moveJointRequest)="moveJointRequestHandler($event)"
  ></cursor-overlay>
</div>
