.jqx-button {
  padding: 1px;
  margin: 0;
}

.jqx-toolbar {
  border: none;
}

.button-icon {
  margin: 0;
  padding: 0;
}

// Grid layout

.top-view {
  display: grid;
  grid-template-columns: min-content 1fr 20%;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 98vh; // Needed to avoid scrollbar in Chrome. Why?
}

.menus {
  grid-row: 1;
  grid-column: 1 / span 3;
}

.toolbar-wrapper {
  grid-row: 2;
  grid-column: 1 / span 3;
  
  width: 100%;
  border: 1px solid;
  border-color: rgb(197, 197, 197);
  border-radius: 3px;
}

.drafting-panel {
  grid-row: 3;
  grid-column: 2;
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 -1px -1px -1px;
}

.member-table {
  grid-row: 3 / 5;
  grid-column: 3;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: rgb(197, 197, 197);
}

.left-ruler {
  grid-row: 3 / 5;
  grid-column: 1;
  width: 30px;
}

.bottom-ruler {
  grid-row: 4;
  grid-column: 2;
  height: 30px;
}
