:host {
  display: block;
}

.header {
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  padding: 8px;
  background-color: rgb(238,238,238);
}

.top-controls {
  grid-row: 1;
  grid-column: 1 / 3;
}

.left-controls {
  grid-row: 2;
  grid-column: 1;
}

.right-controls {
  grid-row: 2;
  grid-column: 2;
}
