<p>fly-thru-settings-dialog works!</p>
,
<jqxWindow
  #dialog
  [isModal]="false"
  [autoOpen]="false"
  [width]="344"
  [height]="300"
>
  <div class="header">Animation settings</div>
  <div class="container">
    <div>
      <jqxSlider
        #speedSlider
        [height]="60"
        [min]="5"
        [max]="30"
        [value]="5"
        [step]="10"
        [mode]="'fixed'"
        [showTickLabels]="true"
        [tooltip]="true"
        [ticksFrequency]="10"
      >
      </jqxSlider>
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Shadows</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Sky</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Terrain</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Abutments</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Truck</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Member colors</jqxCheckBox
      >
      <jqxCheckBox
        [width]="checkboxWidth"
        height=" "
        checkboxHeight
      >
        Exaggeration</jqxCheckBox
      >
    </div>
  </div>
</jqxWindow>
