<jqxWindow
  #dialog
  [isModal]="false"
  [autoOpen]="false"
  [width]="dialogWidth"
  [height]="dialogHeight"
  [initContent]="initDialogContent"
  [resizable]="false"
  (onClose)="handleDialogClose()"
>
  <div class="header">Animation settings</div>
  <div class="content">
    <!-- documented, unfixed bug in jqWidgets: sliders must be programmatically built in initContent -->
    <div class="top-controls">
      <div class="speed">
        <div>Speed {{ speed }} km/hr</div>
        <div class="speed-slider">
          <ng-container #speedSliderContainer></ng-container>
        </div>
      </div>
    </div>
    <div class="left-controls">
      <jqxCheckBox
        #shadowsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noShadows"
        (onChange)="handleShadowsCheckboxChange()"
      >
        Shadows</jqxCheckBox
      >
      <jqxCheckBox
        #skyCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noSky"
        (onChange)="handleSkyCheckboxChange()"
      >
        Sky</jqxCheckBox
      >
      <jqxCheckBox
        #terrainCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noTerrain"
        (onChange)="handleTerrainCheckboxChange()"
      >
        Terrain</jqxCheckBox
      >
      <jqxCheckBox
        #windTurbineCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noWindTurbine"
        (onChange)="handleWindTurbineCheckboxChange()"
      >
        Wind turbine</jqxCheckBox
      >
      <jqxCheckBox
        #abutmentsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noAbutments"
        (onChange)="handleAbutmentsCheckboxChange()"
      >
        Abutments</jqxCheckBox
      >
      <jqxCheckBox
        #truckCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noTruck"
        (onChange)="handleTruckCheckboxChange()"
      >
        Truck</jqxCheckBox
      >
      <jqxCheckBox
        #memberColorsCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noMemberColors"
        (onChange)="handleMemberColorsCheckbox()"
      >
        Member colors</jqxCheckBox
      >
      <jqxCheckBox
        #exaggerationCheckbox
        [width]="checkboxWidth"
        [height]="checkboxHeight"
        [checked]="!settings.noExaggeration"
        (onChange)="handleExaggerationCheckbox()"
      >
        Exaggeration</jqxCheckBox
      >
    </div>
    <div class="right-controls">
      <div class="brightness-label">Brightness</div>
      <div class="brightness-icons">
        <img src="img/bright.png" />
        <img src="img/dim.png" />
      </div>
      <div class="brightness-slider">
        <ng-container #brightnessSliderContainer></ng-container>
      </div>
    </div>
  </div>
</jqxWindow>
