.jqx-window-content {
  padding: 0px;
}

.jqx-expander-header {
  border: 0;
  background-color: white;
}

.jqx-expander-content-bottom {
  width: 100%;
  border:0;
  padding-left: 0;
  padding-right: 0;
}


.jqx-cell {
  padding-top: 0;
  padding-bottom: 0;
}